<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Efficient Teacher</title>

  <style>

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  .head {
    margin-top:-1rem;
    font-size: 2rem;
    color: purple;
    position: fixed;
    margin-left: 15%;
    margin-right: 10%;
  }

  .intro {
    margin-top: 3rem;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 2px 2px grey;
  }

  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(81, 81, 160)">
    <a class="navbar-brand" href="/"><img src="../static/img/logo2.jpg" alt="Teacher logo" width="50" height="50" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/predict">Predict</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evaluate">Evaluate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="info">
      <div class="image">
        <img src="../static/img/logo2.jpg" alt="Teacher logo" width="300" height="300" class="center"/>
      </div>

      <div class="head">
        Teacher's Performance Analysis using ML Classification Algorithms
      </div>
      <div class="intro">
        It is a machine learning approach for performance analysis of
        teacher with the help of trained data set in a view
        to give the accurate and reliable result by replacing the existing traditional and 
        statistical method with the machine learning model.
      </div>
    </div>

  </body>
</html>

